.app-wrapper{
   width: 100%;
   
   margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
   grid-template-rows: 80px 1fr;
   grid-template-columns: 2.5fr 10fr;
   background-color:rgba(29, 10, 58, 0.95);
   
}

.app-wrapper-content{
   background-color:rgba(29, 10, 58, 0.95);
   padding: 0 50px;
}