.myPosts{
  padding: 10px;
}

.posts{
  color:rgb(234, 226, 241);
  margin: 10px;
}

.textarea textarea{
  margin-top: 10px;
  height: 100px;
  width: 350px;
}
button{
  margin-top: 10px;
  height: 40px;
  width: 150px;
  background-color: rgb(188, 139, 233);
  color: azure;
  border-radius: 20px;
}