.nav {
  grid-area: n;
  background-color: rgba(97, 56, 163, 0.95);
  padding: 20px ;
  margin: 20px 0 0 100px;
  border-radius: 15px;
  border: #3a1174;
  
}
.item a {
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
}
.item .activeLink{
  color: rgb(25, 68, 161);
}
